@model List<GymManager.Core.MembershipTypes.EquipmentType>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">WorkArea</th>
      <th scope="col">AcquisitionDate</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var equipmentType in Model)
        {
            <tr>
                <th scope="row">@equipmentType.Name</th>
                <td>@equipmentType.WorkArea</td>
                <td>@equipmentType.AcquisitionDate.ToString("dd/MM/yyyy")</td>
                <td><a asp-action="Edit" class="btn btn-outline-info" asp-route-memberId="@equipmentType.Id">Edit</a></td>
                <td><a asp-action="Delete" class="btn btn-outline-danger" asp-route-memberId="@equipmentType.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>